doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Parallax Scrolling Website | Codehal
    link(rel="stylesheet", href="style.css")
  body
   
    section.Parallax
      img(src="hill1.png", id="hill1")
      img(src="hill_2.png", id="hill2")
      img(src="hill3.png", id="hill3")
      img(src="hill4.png", id="hill4")
      img(src="hill5.png", id="hill5")
    
      h2#text inside.c
      img(src="leaf.png", id="leaf")
      img(src="plant.png", id="plant")
    section.sec
      h2 Parallax Scrolling website
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rerum veritatis culpa, fuga facilis omnis dolores nulla autem, amet reiciendis repellendus, debitis fugiat molestiae ipsam praesentium cupiditate. Aut dicta dolorem corrupti itaque consectetur esse tenetur possimus necessitatibus unde nisi sint veritatis atque, perferendis consequatur nostrum et asperiores autem voluptatem ullam, error ratione reiciendis? Consectetur minus tempora saepe, impedit deleniti amet repellat, veniam, minima commodi iure accusantium nisi recusandae error magni vitae mollitia reiciendis! Unde soluta maiores aut modi eveniet iste sequi? Possimus fugiat ab ipsum reiciendis quidem hic, animi a placeat enim dicta ut nobis qui! Animi itaque earum optio reprehenderit sequi iste id omnis assumenda corporis soluta obcaecati libero sed ullam, laudantium illo maxime quasi non voluptate accusamus veniam voluptates unde dolore? Reprehenderit, modi ab odit provident harum pariatur.
        br
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rerum veritatis culpa, fuga facilis omnis dolores nulla autem, amet reiciendis repellendus, debitis fugiat molestiae ipsam praesentium cupiditate. Aut dicta dolorem corrupti itaque consectetur esse tenetur possimus necessitatibus unde nisi sint veritatis atque, perferendis consequatur nostrum et asperiores autem voluptatem ullam, error ratione reiciendis? Consectetur minus tempora saepe, impedit deleniti amet repellat, veniam, minima commodi iure accusantium nisi recusandae error magni vitae mollitia reiciendis! Unde soluta maiores aut modi eveniet iste sequi? Possimus fugiat ab ipsum reiciendis quidem hic, animi a placeat enim dicta ut nobis qui! Animi itaque earum optio reprehenderit sequi iste id omnis assumenda corporis soluta obcaecati libero sed ullam, laudantium illo maxime quasi non voluptate accusamus veniam voluptates unde dolore? Reprehenderit, modi ab odit provident harum pariatur.
        br
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rerum veritatis culpa, fuga facilis omnis dolores nulla autem, amet reiciendis repellendus, debitis fugiat molestiae ipsam praesentium cupiditate. Aut dicta dolorem corrupti itaque consectetur esse tenetur possimus necessitatibus unde nisi sint veritatis atque, perferendis consequatur nostrum et asperiores autem voluptatem ullam, error ratione reiciendis? Consectetur minus tempora saepe, impedit deleniti amet repellat, veniam, minima commodi iure accusantium nisi recusandae error magni vitae mollitia reiciendis! Unde soluta maiores aut modi eveniet iste sequi? Possimus fugiat ab ipsum reiciendis quidem hic, animi a placeat enim dicta ut nobis qui! Animi itaque earum optio reprehenderit sequi iste id omnis assumenda corporis soluta obcaecati libero sed ullam, laudantium illo maxime quasi non voluptate accusamus veniam voluptates unde dolore? Reprehenderit, modi ab odit provident harum pariatur.
        br
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rerum veritatis culpa, fuga facilis omnis dolores nulla autem, amet reiciendis repellendus, debitis fugiat molestiae ipsam praesentium cupiditate. Aut dicta dolorem corrupti itaque consectetur esse tenetur possimus necessitatibus unde nisi sint veritatis atque, perferendis consequatur nostrum et asperiores autem voluptatem ullam, error ratione reiciendis? Consectetur minus tempora saepe, impedit deleniti amet repellat, veniam, minima commodi iure accusantium nisi recusandae error magni vitae mollitia reiciendis! Unde soluta maiores aut modi eveniet iste sequi? Possimus fugiat ab ipsum reiciendis quidem hic, animi a placeat enim dicta ut nobis qui! Animi itaque earum optio reprehenderit sequi iste id omnis assumenda corporis soluta obcaecati libero sed ullam, laudantium illo maxime quasi non voluptate accusamus veniam voluptates unde dolore? Reprehenderit, modi ab odit provident harum pariatur.
        br
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rerum veritatis culpa, fuga facilis omnis dolores nulla autem, amet reiciendis repellendus, debitis fugiat molestiae ipsam praesentium cupiditate. Aut dicta dolorem corrupti itaque consectetur esse tenetur possimus necessitatibus unde nisi sint veritatis atque, perferendis consequatur nostrum et asperiores autem voluptatem ullam, error ratione reiciendis? Consectetur minus tempora saepe, impedit deleniti amet repellat, veniam, minima commodi iure accusantium nisi recusandae error magni vitae mollitia reiciendis! Unde soluta maiores aut modi eveniet iste sequi? Possimus fugiat ab ipsum reiciendis quidem hic, animi a placeat enim dicta ut nobis qui! Animi itaque earum optio reprehenderit sequi iste id omnis assumenda corporis soluta obcaecati libero sed ullam, laudantium illo maxime quasi non voluptate accusamus veniam voluptates unde dolore? Reprehenderit, modi ab odit provident harum pariatur.
        br
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rerum veritatis culpa, fuga facilis omnis dolores nulla autem, amet reiciendis repellendus, debitis fugiat molestiae ipsam praesentium cupiditate. Aut dicta dolorem corrupti itaque consectetur esse tenetur possimus necessitatibus unde nisi sint veritatis atque, perferendis consequatur nostrum et asperiores autem voluptatem ullam, error ratione reiciendis? Consectetur minus tempora saepe, impedit deleniti amet repellat, veniam, minima commodi iure accusantium nisi recusandae error magni vitae mollitia reiciendis! Unde soluta maiores aut modi eveniet iste sequi? Possimus fugiat ab ipsum reiciendis quidem hic, animi a placeat enim dicta ut nobis qui! Animi itaque earum optio reprehenderit sequi iste id omnis assumenda corporis soluta obcaecati libero sed ullam, laudantium illo maxime quasi non voluptate accusamus veniam voluptates unde dolore? Reprehenderit, modi ab odit provident harum pariatur.
      script(src="script.js")
